# <h1>Welcome, <%=@user.username%></h1>
# <h3>Here are your orders</h3>
# <!-- <% if @order = nil %>
# <h3>You have no orders.</h3>
# <% else %> -->
# <!-- <% @order.each do |o| %>
# <ul>
# <li><%= o.customer_name %></li>
# <li><%= o.item %></li>
# <li><%= o.amount %></li>
# <li><%= o.pick_up %></li>
# </ul>
# <% end %>
# <% end %> -->

# <br><br>
# <a href="/orders/new">New Order</a>
# <a href="/logout">Logout</a>