<h1 align="center">Welcome, <%=@user.username.capitalize%></h1>
<h2 align="center">Here are your orders</h2>

  <%if @show_orders.empty?%>
  <h3 align="center">You have no orders</h3>
  <%else%>
<table style="width:50%" border="2"  align="center" >
     <tr>
          <th>Number</th>
          <th> Customer Name</th>
          <th>Item</th>
          <th>Amount</th>
          <th>Pick Up Date</th>
    </tr>

        <% @show_orders.each do |o|%>
       
        <tr>
          <td>
              <%=o.id%>
              <h5><a href="/orders/<%=o.id%>/edit">edit</a></h5>
              <h5><a href="/orders/<%=o.id%>">delete</a></h5>
            </td>
          <td><%=o.customer_name%></td>
          <td><%=o.item%></td>
          <td><%=o.amount%></td>
          <td><%=o.pick_up_date%></td>
        </tr>
        <%end%>
        <%end%>
      </table>
<h3 align="center"><a href="/orders/new">New Order</a><br>
    <a href="/logout">Logout</a></h3>
